body {
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif !important;
  color: #2c3e50 !important;
  padding-top: 70px;
  background-color: #e9eaec;
}
.sidenav{
  font-size: 1.5em;
  align-content: center !important;
  font-weight: bold;
  text-align: center;
}
.sidenav a.list-group-item{
  color: #bdc3c7;
}
.sidenav a.active, .navbar_{
  color: #ffffff !important;
}

.navbar-default_ a{
  color: #ffffff !important;
}

.navbar-default_ .navbar-nav>li>a {
  background-color: #ffffff !important;
  color: #2c3e50 !important;
}

.jumbotron {
  text-align: center !important;
}

.login-register-icon {
  text-align: center;
  display: block;
  font-size: 1em !important;
}
.login-register-icon>h1{
  font-size: 2.28em !important;
}
h4 {
    font-size: 1.4rem !important;
    line-height: 90% !important;
}
